.btn{
  background-color: $color_principal;
  border-color: $color_principal;
  color: $white;
  font-family: "Bungee", cursive;
}

.btn:hover{
  background-color: $color_p_hover;
  border-color: $color_p_hover;
}