@import '_colors';
@import '_botons.scss';

header{
  background-color: white
}
#c{
  margin-top: 3%;
}
#cardsCases{
  margin-top: 5%;
}
body{
  background-color: whitesmoke;
  font-family: "Noto Sans JP", sans-serif;
}
body header nav ul li .nav-link {
  padding-right: 25px !important;
  font-family: "Bungee", cursive;
  color: black;
  font-size: 20px;
}
.navbar-toggler{
  color:$color_principal !important;
}

.nav-link{
  font-family: 'Nixie One', cursive;
  font-size: 24px;
  color: $black_2;
}

.nav-link:hover{
  color: $color_principal;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background-color: white;
}

.nav-tabs {
  margin-bottom: 0;

}

.card{
  .col-md-4{
    padding: 0px;
  }
  .card-title{
    font-family: "Bungee", cursive;
  }

  .card-text{
    font-family: 'Noto Sans JP', sans-serif;
  }
}

fieldset {
  border: 1px solid #ddd!important;
  margin: 0;
  padding: 10px;
  position: relative;
  border-radius: 4px;
  padding-left: 10px!important;
  width: 100%;
}

#leg1 {
  font-size: 18px;
  width: 10%;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
}

#leg2 {
  font-size: 18px;
  width: 7%;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
}

.lab {
  margin-left: 20px;
}

.auth {
  margin-top: 200px;

  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $black;
  border-radius: 2px;
  color: $white;
  font-family: "Bungee", cursive;

  h1 {
    text-align: center;
  }

}
.titol{

  font-family: "Bungee", cursive;
  margin-top: 2%;
}

.list-group{
  font-family: "Noto Sans JP", sans-serif;
  .list-group-item-action:hover{
    background-color: $color_p_hover !important;

  }
  .list-group-item-action:active{
    background-color: $color_principal !important;
    color: $white;
  }

  .active{
    background-color: $color_principal !important;
    color: $white;
    border-color: $color_principal;
  }
}